torchvision
torchaudio
matplotlib
easydict
librosa
essentia
chumpy
transforms3d
pyarrow
lmdb
numpy
configargparse
tensorboard
setuptools
loguru
fasttext
textgrid
Ipython
Cython
nnAudio
opencv-python
pandas
parso
Pillow
pyrsistent
PyWavelets
pyzmq
scikit-image
scikit-learn
scipy
six
terminado
testpath
timm
yarg
yarl
tqdm
ffmpeg-normalize
pyworld
python_speech_features
sox
fairseq
python-Levenshtein
seaborn
sentence-transformers
